# Системные файлы
__pycache__/
*.pyc
*.pyo

# Среда разработки
.env
*.sqlite3

# Папка с медиафайлами
media/

# Папка с статическими файлами (если используешь collectstatic)
staticfiles/

# Логи
*.log

# Папка с виртуальной средой
venv/
